/******************************************
    Version: 1.0
/****************************************** */
@media only screen and (min-width: 1200px) and (max-width: 1320px) {
	li.nav-item{
		margin-left: 10px!important;
		margin-right: 10px!important;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.top-navbar .navbar-light .navbar-nav .nav-item{
		margin: 0px 5px;
	}
		.box-slider .carousel-control-prev{
	background: #eea412;
	position: absolute;
	left: 5px;
	font-size: 19px;
	top: 35%;
	width: 50px;
	height: 50px;
	opacity: 1;
  	border-radius: 25px;
	}
	.box-slider .carousel-control-next{
	background: #eea412;
	position: absolute;
	right: 5px;
	font-size: 19px;
	top: 35%;
	width: 50px;
	height: 50px;
	opacity: 1;
  	border-radius: 25px;
	}
	.box-slider .carousel-control-prev:hover{
	background: #eea412;
	position: absolute;
	left: 5px;
	font-size: 19px;
	top: 35%;
	width: 50px;
	height: 50px;
	opacity: 1;
  	border-radius: 25px;
	}
	.box-slider .carousel-control-next:hover{
	background: #eea412;
	position: absolute;
	right: 5px;
	font-size: 19px;
	top: 35%;
	width: 50px;
	height: 50px;
	opacity: 1;
  	border-radius: 25px;
	}
	.navbar-brand{
    	width: 230px!important;
    }

}
@media (min-width: 768px) and (max-width: 991px) {
	.top-navbar .navbar-light .navbar-nav .nav-item{
		padding: 0px;
	}
	.top-navbar .navbar-light .navbar-nav .nav-item::after{
		display: none;
	}
	.top-navbar .navbar-light .navbar-nav .nav-item .nav-link::before{
		display: none;
	}
	.top-navbar .navbar-light .navbar-nav .nav-item .nav-link::after{
		display: none;
	}
	.stat-wrap{
		text-align: center !important; 
	}
	body.host_version .stat-wrap  .alignleft{
		float: none;
		margin: 0 auto;
	}
	body.host_version .stat-wrap h3{
		margin-bottom: 12px;
	}
	.pricing-table-header h2{
		font-size: 22px;
	}
	.pricing-table-features{
		padding: 0px 0px 15px 0px;
		margin: 15px 15px 0 15px;
	}
	.pricing-table-features p{
		font-size: 13px;
	}
	.icon-wrapper h3{
		clear: both;
	}
	.icon-wrapper p{
		padding-left: 0px;
	}
	.pricingTable .heading > h3{
		font-size: 28px;
	}
	.pricingTable .price-value{
		font-size: 28px;
	}
	.pricingTable .pricingContent ul li{
		font-size: 13px;
	}
	.widget.server a{
		padding: 10px 20px;
	}
	body.host_version .footer-social .btn{
		width: 35px;
		height: 35px;
		line-height: 35px;
	}
	.customwidget a{
		padding: 10px 20px;
	}
	.contact_form{
		margin-right: 0px;
		margin-bottom: 30px;
	}
	.btn-light{
		padding: 10px 20px;
	}
	.inner-hmv{
		margin-bottom: 30px;
	}
	hr.hr3{
		margin-top: 0px;
	}
	.course-item{
		margin-bottom: 30px;
	}	
	.stat-wrap {
		text-align: center !important;
	}
	.alignleft{
		float: none;
	}
	.blog-item{
		margin-bottom: 30px;
	}
	.blog-post-single{
		margin-bottom: 30px;
	}
	.all-title-box{
	min-height: 350px;
	}
	.all-title-box h1{
		font-size: 40px!important;
		padding-top: 20%;
	}
	span.m_1 {
		font-size: 30px!important;
	}
	.box-slider .carousel-control-prev{
	background: #eea412;
	position: absolute;
	left: 5px;
	font-size: 19px;
	top: 35%;
	width: 50px;
	height: 50px;
	opacity: 1;
  	border-radius: 25px;
	}
	.box-slider .carousel-control-next{
	background: #eea412;
	position: absolute;
	right: 5px;
	font-size: 19px;
	top: 35%;
	width: 50px;
	height: 50px;
	opacity: 1;
  	border-radius: 25px;
	}
	.box-slider .carousel-control-prev:hover{
	background: #eea412;
	position: absolute;
	left: 5px;
	font-size: 19px;
	top: 35%;
	width: 50px;
	height: 50px;
	opacity: 1;
  	border-radius: 25px;
	}
	.box-slider .carousel-control-next:hover{
	background: #eea412;
	position: absolute;
	right: 5px;
	font-size: 19px;
	top: 35%;
	width: 50px;
	height: 50px;
	opacity: 1;
  	border-radius: 25px;
	}
	.top_container {
        height: auto;
    }

    .top_container.sub_pages {
        height: auto;
    }

    .top_container.sub_pages::before {
        background-size: cover;
    }

    .client_box-container {

        width: 90%;

    }

    .service_detail-container {
        width: 90%;
    }

    .hero-container {
        flex-direction: column;
    }

    .hero_detail-box {
        width: 100%;
        margin-bottom: 45px;
    }

    .hero_img-container {
        width: 100%;
    }

    .top_container::before {
        width: 100%;
    }

}
@media (max-width: 767px) {
	.top-navbar .navbar-light .navbar-nav .nav-item{
		padding: 0px;
	}
	.top-navbar .navbar-light .navbar-nav .nav-item::after{
		display: none;
	}
	.top-navbar .navbar-light .navbar-nav .nav-item .nav-link::before{
		display: none;
	}
	.top-navbar .navbar-light .navbar-nav .nav-item .nav-link::after{
		display: none;
	}
	.first-section h2{
		font-size: 28px;
	}
	.first-section .lead{
		font-size: 14px;
	}
	body.host_version .checkdomain-wrapper .form-control{
		width: 83%;
	}
	body.host_version .checkdomain-wrapper .checkbox{
		width: 20%;
		margin-bottom: 15px;
	}
	.customwidget h1{
		font-size: 34px;
	}
	.section-title h3{
		font-size: 28px;
	}
	.message-box h2{
		font-size: 24px;
	}
	.pricing-table{
		margin-bottom: 40px;
	}
	.pricing-table-features{
		padding: 0px 0px 10px 0px;
	}
	.testimonial h3{
		font-size: 18px;
	}
	.desc h3 i{
		font-size: 28px;
	}
	.footer .widget{
		margin-bottom: 30px;
	}
	.copyrights{
		padding: 20px 0px;
		text-align: center;
	}
	.footer-distributed .footer-right{
		float: none;
	}
	.all-title-box{
		min-height: 200px;
	}
	.all-title-box h1{
		font-size: 30px!important;
		padding-top: 25%;
	}
	span.m_1 {
		font-size: 20px!important;
	}
	.h111{
		padding-top: 55%;
	}
	.icon-wrapper h3{
		font-size: 14px;
	}
	.icon-wrapper p{
		font-size: 13px;
	}
	.icon-wrapper{
		margin-bottom: 30px;
	}
	.readmore a{
		font-size: 13px;
	}
	body.host_version .stat-wrap p{
		font-size: 28px;
		clear: both;
	}
	body.host_version .stat-wrap h3{
		margin-bottom: 20px;
	}
	.widget.server{
		margin-bottom: 30px;
	}
	.section{
		padding: 40px 0;
	}
	.dmoain-pricing table th{
		font-size: 14px;
	}
	.contact_form{
		margin-right: 0px;
		margin-bottom: 30px;
	}
	#support .section-title{
		padding: 0px 15px;
	}
	.customer-box .nav-tabs{
		padding: 20px 0px;
	}
	.customer-box .tab-content{
		padding: 20px 0px;
	}
	body.host_version .stat-wrap .alignleft{
		margin-right: auto;
	}
	.blog-post-single{
		margin-bottom: 30px;
	}
	.course-item{
		margin-bottom: 30px;
	}
	hr.hr3{
		margin-top: 0px;
	}
	.inner-hmv{
		margin-bottom: 30px;
	}
	.stat-wrap {
		text-align: center !important;
	}
	.alignleft{
		float: none;
	}
	.blog-item{
		margin-bottom: 30px;
	}
	.all-title-box{
	min-height: 300px;
	}
	.box-slider .carousel-control-prev{
	/*border-radius: 2px;*/
	background: #eea412;
	position: absolute;
	left: 5px;
	font-size: 19px;
	top: 35%;
	width: 40px;
	height: 40px;
	/*line-height: 20px;*/
	opacity: 1;
  	border-radius: 20px;
	}
	.box-slider .carousel-control-next{
	/*border-radius: 2px;*/
	background: #eea412;
	position: absolute;
	right: 5px;
	font-size: 19px;
	top: 35%;
	width: 40px;
	height: 40px;
	/*line-height: 20px;*/
	opacity: 1;
  	border-radius: 20px;
	}
	.box-slider .carousel-control-prev:hover{
	/*border-radius: 2px;*/
	background: #eea412;
	position: absolute;
	left: 5px;
	font-size: 19px;
	top: 35%;
	width: 40px;
	height: 40px;
	/*line-height: 20px;*/
	opacity: 1;
  	border-radius: 20px;
	}
	.box-slider .carousel-control-next:hover{
	background: #eea412;
	position: absolute;
	right: 5px;
	font-size: 19px;
	top: 35%;
	width: 40px;
	height: 40px;
	/*line-height: 20px;*/
	opacity: 1;
  	border-radius: 20px;
	}
	.top_container {
        height: auto;
    }

    .top_container.sub_pages {
        height: auto;
    }

    .top_container.sub_pages::before {
        background-size: cover;
    }

    .client_box-container {

        width: 90%;

    }

    .service_detail-container {
        width: 90%;
    }

    .hero-container {
        flex-direction: column;
    }

    .hero_detail-box {
        width: 100%;
        margin-bottom: 45px;
    }

    .hero_img-container {
        width: 100%;
    }

    .top_container::before {
        width: 100%;

    }
    /*Brands logo sections*/

    /*.logos {
    	display: flex!important;
    	flex-direction: column!important;
    	align-items: center!important;
    	
    	justify-content: center!important;
    	padding: 0!important;
    	margin:0!important;
    }*/
    .aki {
    	flex-direction: column;
    	margin-bottom: 15px;
    }
}
@media only screen and (min-width: 280px) and (max-width: 599px) {
	.top-navbar .navbar-light .navbar-nav .nav-item{
		padding: 0px;
	}
	.top-navbar .navbar-light .navbar-nav .nav-item::after{
		display: none;
	}
	.top-navbar .navbar-light .navbar-nav .nav-item .nav-link::before{
		display: none;
	}
	.top-navbar .navbar-light .navbar-nav .nav-item .nav-link::after{
		display: none;
	}
	
	.first-section h2{
		font-size: 28px;
	}
	.first-section .lead{
		font-size: 14px;
	}
	.first-section .big-tagline a{
		font-size: 14px;
	}
	.section-title p{
		font-size: 14px;
		line-height: 24px;
	}
	body.host_version .checkdomain-wrapper .form-control{
		width: 83%;
	}
	body.host_version .checkdomain-wrapper .checkbox{
		width: 20%;
		margin-bottom: 15px;
	}
	.customwidget h1{
		font-size: 34px;
	}
	.section-title h3{
		font-size: 28px;
	}
	.message-box h2{
		font-size: 24px;
	}
	.pricing-table{
		margin-bottom: 40px;
	}
	.pricing-table-features{
		padding: 0px 0px 10px 0px;
	}
	.testimonial h3{
		font-size: 18px;
	}
	.desc h3 i{
		font-size: 28px;
	}
	.footer .widget{
		margin-bottom: 30px;
	}
	.copyrights{
		padding: 20px 0px;
		text-align: center;
	}
	.footer-distributed .footer-right{
		float: none;
	}
	.all-title-box{
		min-height: 200px;
	}
	.all-title-box h1{
		font-size: 30px!important;
		padding-top: 35%;
	}
	span.m_1 {
		font-size: 18px!important;
	}
	.icon-wrapper h3{
		font-size: 14px;
	}
	.icon-wrapper p{
		font-size: 13px;
	}
	.icon-wrapper{
		margin-bottom: 30px;
	}
	.readmore a{
		font-size: 13px;
	}
	body.host_version .stat-wrap p{
		font-size: 28px;
	}
	.widget.server{
		margin-bottom: 30px;
	}
	.section{
		padding: 40px 0;
	}
	.dmoain-pricing table th{
		font-size: 14px;
	}
	.contact_form{
		margin-right: 0px;
		margin-bottom: 30px;
	}
	#support .section-title{
		padding: 0px 15px;
	}
	.customer-box .nav-tabs{
		padding: 20px 0px;
	}
	.customer-box .tab-content{
		padding: 20px 0px;
	}
	.logos img{
		max-width: 120px;
		max-height: 70px;
		padding-top: 20px;
		align-items: center;
	}
	.author-bio{
		width: 100%;
	}
	.author-desc{
		width: 100%;
		position: relative;
	}
	.comment-list ul.children {
		margin-left: 10px;
	}
	.blog-post-single{
		margin-bottom: 30px;
	}
	.course-item{
		margin-bottom: 30px;
	}
	hr.hr3{
		margin-top: 0px;
	}
	.inner-hmv{
		margin-bottom: 30px;
	}
	.all-title-box{
	min-height: 300px;
	}
	.box-slider .carousel-control-prev{
	/*border-radius: 2px;*/
	background: #eea412;
	position: absolute;
	left: 5px;
	font-size: 19px;
	top: 35%;
	width: 30px;
	height: 30px;
	/*line-height: 20px;*/
	opacity: 1;
  	border-radius: 15px;
	}
	.box-slider .carousel-control-next{
	/*border-radius: 2px;*/
	background: #eea412;
	position: absolute;
	right: 5px;
	font-size: 19px;
	top: 35%;
	width: 30px;
	height: 30px;
	/*line-height: 20px;*/
	opacity: 1;
  	border-radius: 15px;
	}
	.box-slider .carousel-control-prev:hover{
	/*border-radius: 2px;*/
	background: #eea412;
	position: absolute;
	left: 5px;
	font-size: 19px;
	top: 35%;
	width: 30px;
	height: 30px;
	/*line-height: 20px;*/
	opacity: 1;
  	border-radius: 15px;
	}
	.box-slider .carousel-control-next:hover{
	background: #eea412;
	position: absolute;
	right: 5px;
	font-size: 19px;
	top: 35%;
	width: 30px;
	height: 30px;
	/*line-height: 20px;*/
	opacity: 1;
  	border-radius: 15px;
	}
	.top_container {
        height: auto;
    }

    .top_container.sub_pages {
        height: auto;
    }

    .top_container.sub_pages::before {
        background-size: cover;
    }

    .client_box-container {

        width: 90%;

    }

    .service_detail-container {
        width: 90%;
    }

    .hero-container {
        flex-direction: column;
    }

    .hero_detail-box {
        width: 100%;
        margin-bottom: 45px;
    }

    .hero_img-container {
        width: 100%;
    }

    .top_container::before {
        width: 100%;

    }
    .navbar-brand{
    	width: 70%;
    }
    .spanlogo1{
 	 /*color: #eea412;*/
 	 font-size: 20.5px;
 	 /*font-weight: 900;*/

	}
	.spanlogo2{
 	 font-size: 17px;
 	 /*color: white;*/
 	 /*position: relative;*/
  	 /*top: 18px;*/
  	 left:-100px;
}


}


